.fn-clear p{display: none}
.cur p{
		display: block;
	    width: 650px;
	    line-height: 50px;
	    height: 50px;
	    color: #727070;
	    position: absolute;
	    left: -275px;
	    top: 320px;
	    font-size: 16px;
	    text-align: center;
	    background-color: #fff;
}
.cur p span{
	display: block;
	width: 610px;
	padding: 0 20px;
	height: 100%;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}
.cur p:before {
	background-color:#fff;
	position:absolute;
	width: 10px;
    height: 10px;
    top: -5px;
	left:47%;
	z-index:9;
	content:"";
	border:0;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.transparent-header .header{background-color: #938273}
.transparent-header .ui-container, .transparent .ui-container{
	margin-top: 0
}
.history #content{
	margin: 50px auto 0;
}
.history #content .txt{
	list-style:circle;
	padding: 10px 10px 10px 40px;
	width: 600px;
	margin:0 auto;
	text-align:left;
}
.history #content .txt li{
	list-style:circle;
	line-height: 30px;
	margin: 20px 0 
}
.history #content:before {
    display: none
}
.history #content .txt:before{
	display: none
}
.history #content .txt li:before{
	content: "●";
    font-size: 20px;
    padding-right: 10px;
    margin-left: -22px
}